@CHARSET "UTF-8";
#qabox-outer {
	margin: 10px auto;
	padding: 0;
	text-align:center;
}

#qabox-inner {
	margin: 0 auto;
	width: 450px;
	background: url(qabox-mid.png) repeat-y;
	text-align:left;
	color:#000;
}
#qabox-top {
	margin: 0 auto;
	width: 450px;
	background: url(qabox-top.png) no-repeat;
	text-align:left;
	color:#000;
	height: 10px;
	overflow:hidden;
}
#qabox-bot {
	margin: 0 auto;
	width: 450px;
	background: url(qabox-bot.png) no-repeat;
	text-align:left;
	color:#000;
	height: 10px;
}
#qabox-rate {
	margin: 0 10px 0 10px;
	padding: 0;
}
#qabox-reviews {
	margin: 0 10px 0 10px;
	padding: 0;
}

#qabox-rate textarea {
	width: 425px;
	border: solid 1px #5f5e5e;

}

#qabox-rate .mreview-box-btn {
	background-color:#FFF;
	color:#000;
	border: solid 1px #000000;
}

#qabox-title { 
	margin: 0 10px 0 10px;
	padding: 0;
	font-weight:bold;
}
#qabox-msg { 
	margin: 0 10px 0 10px;
	padding: 15px;
	font-weight:bold;
	text-align:center;
}