@CHARSET "UTF-8";
#qabox-outer {
	margin: 10px auto;
	padding: 0;
	text-align:center;
}

#qabox-inner {
	margin: 0 auto;
	width: 450px;
	background: url(qabox-mid.png) repeat-y;
	text-align:left;
	color:#000;
}
#qabox-question {
	margin: 0 10px 0 10px;
	padding: 0;
}
#qabox-question textarea {
	width: 425px;
	border: solid 1px #5f5e5e;

}
#qabox-question .qabox-btn {
	background-color:#FFF;
	color:#000;
	border: solid 1px #000000;
}

#qabox-top {
	margin: 0 auto;
	width: 450px;
	background: url(qabox-top.png) no-repeat;
	text-align:left;
	color:#000;
	height: 10px;
	overflow:hidden;
}
#qabox-bot {
	margin: 0 auto;
	width: 450px;
	background: url(qabox-bot.png) no-repeat;
	text-align:left;
	color:#000;
	height: 10px;
}
#qabox-msg {
	margin: 0 10px 0 10px;
	padding: 0;
}
#qabox-title { 
	margin: 0 10px 0 10px;
	padding: 0;
	font-weight:bold;
}