@CHARSET "UTF-8";

#continued-fm-text { height: 240px; overflow: auto; padding: 2px; border: 1px solid rgb(0, 0, 0);}
#continued-fm-agree { border: medium none; padding: 5px; }
#continued-fm-error { color: rgb(136, 0, 0); font-size: 10pt; font-weight: bold; display: none; position: relative; }


#qabox-outer {
	margin: 10px auto;
	padding: 0;
	text-align:center;
}

#qabox-inner {
	margin: 0 auto;
	width: 450px;
	background: url(qabox-mid.png) repeat-y;
	text-align:left;
	color:#000;
}
#qabox-top {
	margin: 0 auto;
	width: 450px;
	background: url(qabox-top.png) no-repeat;
	text-align:left;
	color:#000;
	height: 10px;
	overflow:hidden;
}
#qabox-bot {
	margin: 0 auto;
	width: 450px;
	background: url(qabox-bot.png) no-repeat;
	text-align:left;
	color:#000;
	height: 10px;
}
#qabox-rate {
	margin: 0 10px 0 10px;
	padding: 0;
}
#qabox-reviews {
	margin: 0 10px 0 10px;
	padding: 0;
}

#qabox-rate textarea {
	width: 425px;
	border: solid 1px #5f5e5e;

}

#qabox-rate .mreview-box-btn {
	background-color:#FFF;
	color:#000;
	border: solid 1px #000000;
}

#qabox-title { 
	margin: 0 10px 0 10px;
	padding: 0;
	font-weight:bold;
}
#qabox-msg { 
	margin: 0 10px 0 10px;
	padding: 15px;
	font-weight:bold;
	text-align:center;
}